<div class="container">
  <%= form_tag verify_user_path , :onsubmit => "return validateCode(#{@random_str});" , :class => 'form-input', :id => 'form-code' do %>
    <h2 class="form-signin-heading">Enter code sent on your number:</h2>
    <%= hidden_field_tag :code_sent, @random_str %>
    <%= label_tag 'Code', 'code', class:'sr-only' %>
    <%= text_field_tag :code, nil, class:'form-control', :maxlength => 4 %>
    <%= submit_tag  :Confirm, class: 'btn btn-lg btn-primary btn-block btn-margin'%>

  <% end %>
</div>

<div class="container">
   <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Success</h4>
        </div>
        <div class="modal-body">
          <p>You have entered right code</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>


